<div class="h-full">
    <div class="sidebar pt-3">
        <a (click)="GetHome()" routerLinkActive="router-link-active"  class="flex justify-content-center"  style="cursor: pointer;" matTooltip="Trang chủ" matTooltipPosition="right">
            <img src="assets/live-chat.png" alt="" class="img-app">
        </a>
        <a (click)="IntoRoom()" routerLinkActive="router-link-active"  class="flex justify-content-center mt-3"  style="cursor: pointer;" matTooltip="Phòng chat" matTooltipPosition="right">
            <img src="assets/chat.png" alt="" class="img-app">
        </a>
        <a (click)="Settings()" class="justify-content-center mt-3 flex text-center text-white" style="cursor: pointer;" matTooltip="Tài khoản" matTooltipPosition="right">
            <img src="assets/setting.png" alt="" class="img-app">
        </a>
        <a (click)="Search()" class="justify-content-center mt-3 flex text-center text-white" style="cursor: pointer;" matTooltip="Tìm phòng" matTooltipPosition="right">
            <img src="assets/search.png" alt="" class="img-app">
        </a>
        <a (click)="GetUsers()" class="justify-content-center mt-3 flex text-center text-white" style="cursor: pointer;" matTooltip="Mọi người" matTooltipPosition="right">
            <img src="assets/people.png" alt="" class="img-app">
        </a>
        <div style="margin-top: auto; cursor: pointer;">
            <a class="justify-content-center mb-3 flex text-center text-white">
                <img [src]="" alt="" class="img-app">
            </a>
            <a (click)="GetLogged() ? Logout() : Authen()" class="justify-content-center mb-3 flex text-center text-white" [matTooltip]="GetLogged() ? 'Đăng xuất' : 'Đăng nhập'" matTooltipPosition="right">
                <img [src]="GetLogged() ? 'assets/log-out.png' : 'assets/log-in.png'" alt="" class="img-app">
            </a>
        </div>
    </div>
      
    <div style="margin-left:5%; height: 100%;" class="">
        <router-outlet></router-outlet>
    </div>
</div>