.sidebar {
    left: 0;
    top: 0;
    position: fixed;
    display: block;display: flex;
    flex-direction: column;
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    z-index: 1;
    height: 100%;
    width:5%;
    min-width: 50px;
}

.img-app {
    border-radius: 20%;
    background: white;
    padding: 4px;
    width: 40px;
    height: auto;
}